html{
    font-family: Arial, Helvetica, sans-serif;
}
.index{
    font-size:30px;
    color: rgb(255, 164, 60);
    margin:10px 0px;
}

.index a{
    font-size: inherit;
    color: inherit;
}

h1{
    color: rgb(255, 192, 119);
    font-family: cursive;
}

h1 a{
    color: black;
    text-decoration-line: none;
}

h2{
    font-weight:100;
    color: coral;
}

header{
    width:auto;
    height:auto;
    text-align: center;
}

.food-image{
    height: 529px;
    width: auto;
}

.main-title{
    text-align: center;
}