html{
    font-family: Arial, Helvetica, sans-serif;
}
.index{
    font-size:30px;
    color: rgb(255, 164, 60);
}

h1{
    color: rgb(255, 192, 119);
    font-family: cursive;
}

h1 a{
    color: black;
    text-decoration-line: none;
}

h2{
    font-weight:100;
    color: coral;
}